*{
	margin:0;
	padding:0;
	font-family:calibri,san-serif;
}



/*home style*/


body{
	background:#e4e4e4;
	background-size:cover;
	background-position:center;
}

nav{
	background:silver;
	padding:10px;
	height:35px;
	position:fixed;
	width:100%;
	margin-top:-100px;
	box-shadow: 0px 7px 20px black;

}

nav a{text-decoration:none;
     color:black;}
nav div{
	text-align:center;
	font-size:30px;
	font-weight:5px;
	letter-spacing:4px;
}
.orderbutton{float:left;
    margin-top:3px;
	 }
.orderbutton a{border:none;
box-shadow:0 0 5px;
border-radius:5px;}
.menuicon{display:none;}

.orderbutton a:hover{background:#7abc7a;
color:#021d6f;}
nav li{
     list-style:none;
	 font-size:20px;
     margin-top:-35px;
}

nav li a{
	float:right;
	color:#021d6f;
	letter-spacing:1px;
	margin-right:20px;
	border-right:solid 3px #021d6f;
	padding-right:5px;
	padding:5px;
	font-weight:bold;
	}

nav li a:hover{
	color:royalblue;
}

.menulist{background:silver;
     width:fit-content;
	 text-align:center;
	 position:absolute;
	 top:54px;
	 left:73%;
     display:none;
	 }
.menulist a{text-decoration:none;
color:#021d6f}
.menulist table{
	border-collapse:collapse;
}
.menulist td{
	border-bottom:1px black solid;
	text-align:center;
	border-collapse:collapse;

}
.menulist td{
	padding:5px 20px;
}
.menulist td:hover{
	background:lightgreen;
}
.cancelicon{
	width:20px;
}

/* gallery style*/



.gallery-text{
	font-weight:1px;
	font-size:60px;
	padding-bottom:5px;
	border-bottom:2px gray solid;
	margin-top:100px;
    margin-bottom:20px;
	margin-right:20px;
	margin-left:20px;
	letter-spacing:3px;
	}

#gallery-images{
	margin:30px 60px;
}
.galimg{transition: all .2s ease-in-out;}
.galimg:hover{ transform: scale(1.1);}
.galimg{
	margin:2px;
	width:300px;
	height:350px;
}

.order{
	display:none;
	font-size:20px;
	letter-spacing:3px;
	padding:3px;
	text-align:center;
	background:#49c249;
	width:300px;
}
#gallery-images{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

#present{
	box-shadow: 0 0 3px black;
}
#present:hover{
	background:#fbf6d9aa;
	border-radius:5px;
}


/* end gallery style*/









@media(max-width:862px){
	.gallery-images{
		display:flex;
		justify-content:center;
	}
.gallery-text{font-size:30px;}
	.menulist{left:90%;}
	nav ul li{display:none}
	.orderbutton{display:block;
	margin-top:8px;
	font-size:20px;
	padding:0;}
.orderbutton a{padding:3px 5px;}
.menuicon{
		display:block;
        margin-top:-40px;
	}
.menuicon a {
	border:none;
}
.menuicon a img{width:40px;}
}
@media(max-width:800px){.menulist{left:88%}}
@media(max-width:700px){.menulist{left:85%}}
@media(max-width:550px){.menulist{left:80%}}
@media(max-width:425px){
	nav{
		height:30px;
	}
	.menuicon a img{
		width:25px;
		margin-top:7px;
	}
	.logo{
		letter-spacing:1px;
	}
.menulist{left:80%;
top:45px;}}
@media(max-width:410px){
.menulist{left:78%}}
@media(max-width:378px){
.menulist{left:77%}}
@media(max-width:339px){
.menulist{left:73%}
@media(max-width:401px){
	nav{
		margin-top:-100px;
	}

	.galimg{width:280px;}
	#gallery-images{margin:5%;}

}
}}

